/* DASHBOARD NEWS */

	#adm {
		background: gray;
	}

	#dashboard {
		background-color: #2e353d;
		position: fixed;
		height: 100%;
		color: #e1ffff;
	}

	.btn.btn-roxo {
		background: #A901DB;
		color: #FFF;
	}

	.bio-card  {
		background: #A901DB;
		color: #FFF;
	}

	.btn.btn-roxo:hover {
		--bs-btn-hover-bg: #8904B1;
	}

	.noticia-bd {
		border: 3px solid #000;
	}

	.noticia-bd h4 {
		padding: 5px;
		background: #FFF;
		color: #000;
		border: 3px solid #000;
	}

	.noticia-bd img {
		margin-bottom: 10px;
		border: 3px solid #000;
	}

	.data {
		margin-bottom: 10px;
		display: block;
	}

	.avisos {
		color: #FFF;
		background: red;
		padding: 5px 10px;
		border-radius: 100px;
	}

/* PAGINA PRINCIPAL */

	* {
		margin: 0;
		padding: 0;
	}

	body, html {
		overflow-x: hidden;
	}

	/************ NAV *************/

	#search {
		background: rgba(88, 88, 88, 0.8);
		border-radius: 50px;
	}

	/************ CAROUSEL *************/

	#carousel {
		padding: 50px 0px;
		background-image: url('../IMAGENS/mapa.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.carousel-image {
		border: 5px solid black;
		border-radius: 100px;
	}

	.carousel-card {
		background: rgba(88, 88, 88, 0.8);
		border: 5px solid black;
		border-radius: 50px;
		padding: 20px;
		color: white;
	}

	button.carousel-control-next, button.carousel-control-prev {
		margin-left: -10px;
		margin-right: -10px;
		width: 5%;
	}

	#prev, #next {
		color: black;
	}

	/************ MODELOS *************/

	#last {
		margin-top: 50px;
		padding: 25px 0px;
	}

	#title {
		background: rgb(88, 88, 88);
		border: 3px solid black;
		padding: 10px 20px;
		border-radius: 50px;
		margin-left: 10px;
	}

	.last-card {
		background: rgb(88, 88, 88);
		border: 3px solid black;
	}

	/************ FOOTER *************/

	footer {
		margin-top: 50px;
		padding: 15px 0px;
		background: #000;
		color: #FFF;
	}

	footer a {
		text-decoration: none;
		color: rgba(255,255,255,0.5);
	}

	footer a:hover {
		text-decoration: none;
		color: rgba(255,255,255,0.9);
	}

	#pesquisar {
		display: none;
	}


	/* Extra small devices (portrait phones, less than 576px) */
	@media (max-width: 575.98px) {

		#footer div {
			margin: 10px 0px;
		}

	}

/* Small devices (landscape phones, 576px and up) */
	@media (min-width: 576px) and (max-width: 767.98px) {

		#footer div {
			margin: 10px 0px;
		}

	}

/* Medium devices (tablets, 768px and up) */
	@media (min-width: 768px) and (max-width: 991.98px) {
		
		

	}

/* Large devices (desktops, 992px and up) */
	@media (min-width: 992px) and (max-width: 1199.98px) {
		
		

	}

/* Extra large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) {
		
		

	}